@import url(var.css);

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.main-content{
    width: 100%s;
    height: 100vh;
}

/* start header */
.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:3.5em;
    box-shadow: 1px 5px 20px var(--color-black-ligth);
}

.header-logo{
    width: 5em;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 1em;
}

.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    font-size: 1em;
}

.header-nav{
    display: flex;
    flex-direction: row;
}

.burguer-nav{
    border-left: 1px solid var(--color-black-ligth);    
    display: none;
}

.icon-burguer{
    text-decoration: none;
    color: var(--color-black);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    font-size: 1em;

}


.navegation{
}

.list-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-nav>li>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .6em;
    width: 5em;
    color: var(--color-black);
    text-decoration: none;
    border-left: 1px solid var(--color-black-ligth);
    transition: color .5s;
    position:relative;
    font-weight: 300;
}

.list-nav>li>a:hover{
    color: var(--color-white);
    background: var(--color-secondary);
}

.list-nav>li>ul{
    list-style: none;
    position: absolute;
    display: none;
    background: var(--color-primary);
    border-radius: 0 0 5px 5px;
    margin-left: 1px;

}

.list-nav>li:hover > ul{
    display: block;
}

.list-nav>li>ul>li>a{
    text-align: center;
    box-sizing: border-box;
    width: 99px;
    text-decoration: none;
    padding: 5px 6px;
    display: block;
    font-weight: 200;
    color: var(--color-white); 
    border-top: .5px solid var(--color-secondary);
}

.list-nav>li>ul>li>a:hover{
    font-weight: 300;
}

/* end header */

/* start main content */

.content{
   margin-top: 10px;
}

.content-bi{
}

.iframe-bi{
    /*width="1140" height="541.25"*/
    width: 100%;
    height: calc(100vh - 5em);
    box-sizing: border-box;
}

.content-costos{
    box-sizing: border-box  ;
    background: var(--color-black);
    padding: 20px;
}

.content-card-bi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.content-card{
    width: 30%;
    height: 300px;
    text-align: center;
    margin: 20px;

}

.content-card:hover{
    box-shadow: 0px 0px 5px var(--color-black);
}

.bi{
    width: 100%;
    height: 80%;
    /*border: 1px solid var(--color-primary);
    border-bottom: none;*/
    box-sizing: border-box;

}

.screen-shot{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn-card{
    display: flex;
    background: var(--color-secondary);
    height: 20%;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    text-decoration: none;
}

.btn-card:hover{
    background: var(--color-primary);
}

/* end main content */



@media (max-width:700px){
    .navegation{
        display: none;
    }

    .header-logo{
        font-size: .7em;
    }

    .header-title {
        display: flex;
        justify-content: left;
        align-items: left;
        font-size: .7em;
    }

    .burguer-nav{ 
        display: block;
    }
}

